{:deps {arrowic/arrowic {:mvn/version "0.1.1"}
        babashka/fs {:mvn/version "0.5.22"}
        babashka/process {:mvn/version "0.5.22"}
        borkdude/rewrite-edn {:mvn/version "0.4.8"}
        cnuernber/dtype-next {:mvn/version "10.113"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        com.github.serceman/jnr-fuse {:mvn/version "0.5.7"}
        com.microsoft.playwright/playwright {:mvn/version "1.46.0"}
        com.taoensso/nippy {:mvn/version "3.4.2"}
        criterium/criterium {:mvn/version "0.4.6"}
        io.github.nextjournal/clerk {:mvn/version "0.16.1016"}
        ;; io.github.nextjournal/clerk {:git/sha "65988e062c8e9dc5e48111d05fec5350cf80e4c9"}
        io.github.teodorlu/clerk-hammertime {:git/url "https://github.com/teodorlu/clerk-hammertime"
                                             :git/sha "99ced05b6c376ecd6b0057739c9c37a484cf4d21"}
        io.github.teodorlu/siunit.alpha1 {:git/url "https://github.com/teodorlu/siunit.alpha1"
                                          :git/sha "9ec8a1f01ccd4d4dc038a52467c8b2576f6dc4c2"}
        java-time-literals/java-time-literals {:mvn/version "2018-04-06"}
        liberator/liberator {:mvn/version "0.15.3"}
        org.babashka/cli {:mvn/version "0.8.60"}
        org.babashka/http-client {:mvn/version "0.4.20"}
        org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/java.data {:mvn/version "1.2.107"}
        org.mentat/emmy {:mvn/version "0.32.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.0.1"}
        ragtime/ragtime {:mvn/version "0.8.1"}
        ring-mock/ring-mock {:mvn/version "0.1.5"}
        teodorlu/pandoc-edn {:git/url "https://github.com/teodorlu/pandoc-edn"
                             :git/sha "4e060991513cec1a5471df6b4116c151bfb5d0cf"}
        thi.ng/geom {:mvn/version "1.0.1"}}
 :paths ["src" "resources"]
 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["src/*.clj"
                       "src/repro/*.clj"
                       ;; Per 2024-01-27, Playwright doesn't work on Clerk Garden
                       ;; See https://build.github.clerk.garden/teodorlu/lab/commit/5f1834b56d9b819c332faf5320dfd8226f56a65d/?update=1
                       ;; "src/learn/playwright_2.clj"
                       ;; teodorlu.lab.steel-beams-si-units-clojure-multimethods
                       "src/teodorlu/lab/steel_beams_si_units_clojure_multimethods.clj"
                       ]}}
  :rainbow-tables
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["src/rainbow_tables.clj"]}}}}
